<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CrearOrdenPayPalServlet</servlet-name>
        <servlet-class>controller.CrearOrdenPayPalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapturarPagoServlet</servlet-name>
        <servlet-class>controller.CapturarPagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPagoServlet</servlet-name>
        <servlet-class>controller.ConfirmarPagoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoPedidoController</servlet-name>
        <servlet-class>controller.EstadoPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedidos</servlet-name>
        <servlet-class>controller.ListarPedidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarEstadoServlet</servlet-name>
        <servlet-class>controller.ActualizarEstadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarPedidoController</servlet-name>
        <servlet-class>controller.BuscarPedidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionPedidosServlet</servlet-name>
        <servlet-class>controller.GestionPedidosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstadoPedidoController</servlet-name>
        <url-pattern>/EstadoPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearOrdenPayPalServlet</servlet-name>
        <url-pattern>/CrearOrdenPayPalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapturarPagoServlet</servlet-name>
        <url-pattern>/CapturarPagoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPagoServlet</servlet-name>
        <url-pattern>/ConfirmarPagoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedidos</servlet-name>
        <url-pattern>/ListarPedidosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarEstadoServlet</servlet-name>
        <url-pattern>/ActualizarEstadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarPedidoController</servlet-name>
        <url-pattern>/BuscarPedidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionPedidosServlet</servlet-name>
        <url-pattern>/GestionPedidosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ProductoControlle</servlet-name>
        <servlet-class>controller.ProductoControlle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controller.ClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductoControlle</servlet-name>
        <url-pattern>/ProductoControlle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CarritoControlle</servlet-name>
        <servlet-class>controller.CarritoControlle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarritoControlle</servlet-name>
        <url-pattern>/CarritoControlle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroController</servlet-name>
        <servlet-class>controller.RegistroController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroController</servlet-name>
        <url-pattern>/RegistroController</url-pattern>
    </servlet-mapping>
</web-app>
